html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Establish a consistent font family across all elements. */
body,
input, button, select, textarea,
.navbar-search .search-query {
  font-family: 'PT Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', tahoma, verdana, arial, sans-serif;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.camera {
  width: 100%;
  height: 100%;
}
