html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.collapsed {
  display: none;
  visibility: hidden;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.camera {
  width: 100%;
  height: 100%;
}
